name: CI/CD pipeline

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
    
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
    
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Ensure Docker Compose is available
        uses: docker-compose version
    
      - name: COPY .env to .env.example
        run: cp ./1-integration-test/.env.example ./1-integration-test/.env

      - name: Run integration script
        run: cd ./1-integration-test && npm run test:integration
    